streamlit==1.32.2

ultralytics==8.2.103

torch==2.2.2
torchvision==0.17.2

opencv-python-headless==4.9.0.80

pandas==2.2.2
numpy==1.26.4
python-dateutil==2.9.0.post0

matplotlib==3.8.4
plotly==5.22.0

lapx==0.5.5

rich==13.7.1
